*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.left{
    float: left;
    height: 700px;
    width: 750px;
    
}
.left h1{
    margin-left: 100px;
    margin-top: 60px;
}
.left p{
    margin-left: 100px;
    margin-top: 50px;
    line-height: 1.7;
    
}
.right{
    float: right;
    height: 700px;
    
}
.right img{
    margin-top: 60px;
    
}