*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}.navbar{
    height: 60px;
    width: 100%;
    background-color: rgb(235, 227, 227);
}
.navbar ul{
    float: right;
    list-style: none;
    
}
.navbar ul li{
    display: inline-block;
    margin-top: 20px;
    
}
.navbar ul li a{
text-decoration: none;
padding: 30px;
font-size: 18px;

}
.navbar ul li a:hover{
    color: rgb(230, 132, 20);
}
.navbar img{
    margin-left: 30px;
}
.account{
    margin-right: 20px;
    margin-top: 10px;
    float: right;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color:rgb(230, 132, 20);
}
.account a{
    float: right;
    padding-top: 10px;
    padding-right: 13px;   
}
.heading{
    margin-left: 100px;
}
.heading h1{
    
    margin-top: 200px;
    font-size: 50px;
    color: rgb(28, 28, 227);
}
.search{
    
    margin-top: 10px;
    margin-left: 100px;
}

.search input[type=text]{
    padding: 8px;;
}
.search button{
    
    padding: 9px;
    cursor: pointer;
}
.search button:hover{
    background-color: rgb(230, 132, 20);
}
.image{
    float: right;
}
.image img{
    margin-right: 100px;
    margin-top: 100px;
    
}
.footer {
    height: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #00b8ff;
    color: white;
    text-align: center;
}


